header{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1em 0;
    margin-bottom: 1em;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content-title-link{
    text-decoration: none;
}
.header-content-title{
    line-height: 1;
    font-size: 24px;
}

@media(min-width: 750px){
    .header-content-title{
        font-size: 32px;
    }
}