@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --light-color: #fefefe;
  --light-sec-color: rgb(190, 190, 190);

  --dark-color: #333;
  --dark-sec-color: rgb(116, 116, 116);
  
  --primary-color: #208BFF;
}


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

button, a{
  font-family: inherit;
  color: inherit;
}

img{
  max-width: 100%;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.container{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
